/* paleta de colores:#332d27,#8a0015,#e30224,#85725f,#fae1c0
 */

 *{
    margin: 0;
    padding:0;
}

.logo{
    text-align: center;
    padding: 10px;
    font-size: 50px;
    height: 10vh;
    font: bold;
    color: #fae1c0;
    font-family: 'Cormorant', serif;
    background-color: #22092C;
}

div{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo{
    background-image:url(../images/fondo.png);
    background-size: cover;
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-wrap: wrap;
}

footer{
    color: white;
    height: 10vh;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contenedor, .contenedor>nav, .contenedor>article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.interna2{
    background-image:url(../images/fondo.png);
    background-size: cover;
    width: 100vw;
    height: 68vh;

    display: flex;
    flex-wrap: wrap;
}

.interna2 > div{
    width: 15vw;
    height: 30vh;
    margin: 2px;

    display: flex;
    align-items: end;
    justify-content: center;
}

.Tom{
    background-image:url(../images/tom.webp);
    background-size: cover;
    color:#fae1c0;
}
.Michael{
    background-image:url(../images/michael.webp);
    background-size: cover;
    color:#fae1c0;
}

.Robert{
    background-image:url(../images/robert.webp);
    background-size: cover;
    color:#fae1c0;
}

.Zendaya{
    background-image:url(../images/zendaya.webp);
    background-size: cover;
    color:#fae1c0;
}
.Marisa{
    background-image:url(../images/marisa.jpg);
    background-size: cover;
}

.MartinStarr{
    background-image:url(../images/martinstarr.webp);
    background-size: cover;
}

.Jacob{
    background-image:url(../images/jacob.webp);
    background-size: cover;
    color:#8a0015;
}
.Laura{
    background-image:url(../images/laura.webp);
    background-size: cover;
    color:#fae1c0;
}

  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 600px) {
    main {
    padding: 10px;
    }
    h1{
        font-size: 16px;
        margin: 3px;
    }
    .interna2 > div{
        width: 22vw;
        height: 30vh;
        margin: 2px;
    
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .logo{
        text-align: center;
        padding: 10px;
        font-size: 42px;
        height: 10vh;
        font: bold;
        color: #fae1c0;
        font-family: 'Cormorant', serif;
        background-color: #22092C;
    }    
   
   }
   
/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    main {
    max-width: 600px;
    }
    h1{
        font-size: 16px;
        margin: 3px;
    }
    .interna2 > div{
        width: 22vw;
        height: 30vh;
        margin: 2px;
    
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .logo{
        text-align: center;
        padding: 10px;
        font-size: 42px;
        height: 10vh;
        font: bold;
        color: #fae1c0;
        font-family: 'Cormorant', serif;
        background-color: #22092C;
    }
}   

