/* paleta de colores:#332d27,#8a0015,#e30224,#85725f,#fae1c0
 */
*{
padding: 0;
margin: 0;
}
a{
color: #fae1c0;
}

.fondo{
height: 70vh;
width: auto;    
background-image:url(../images/spiderman.jpg);  
background-size: cover;  
}

nav{
display:flex;
flex-wrap: wrap;
align-items:baseline;
width:100%;
height: 10vh;
}

div{
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;
}

.logo{
text-align: center;
padding: 10px;
font-size: 52px;
height: 10vh;
font: bold;
color:#fae1c0;
font-family: 'Cormorant', serif;
background-color: #22092C;
}
.fondo2 {
    height: 90%;
    width: 100%;
    background-color: rgba(135, 35, 65, 0.7);
    margin: 10px;
    padding-left: 300px;
    padding-right: 300px;
    color: #fae1c0;
  }

.texto{
    background-color: #872341;
    margin: 10px;
    text-align: start;
}

nav .barnav{
width: 100vw;
height: 10vh;
background-color: #872341;
}

nav .barnav div{
margin: 10px;
padding: 10px 20px;
}

nav .barnav div:hover{
cursor: pointer;
background-color: #22092C;
}

footer{
color: white;
height: 10vh;
background-color: black;
display:flex;
justify-content: center;
align-items: center;
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    main {
    padding: 10px;
    }
    div{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fondo{
    height: 70vh;
    width: auto;
    background-image:url(../images/spiderman_Movil.jpg);  
    background-size: cover;
    }
    .fondo2 {
        height: 90%;
        width: 100%;
        background-color: rgba(135, 35, 65, 0.7);
        margin: 10px;
        padding: 10px;
        font-size: 16px;
      }
   }
   
/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    main {
    max-width: 600px;
    }
    div{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .fondo{
    height: 70vh;
    width:auto;
    background-image:url(../images/spiderman_Tablet.jpg);
    background-size: cover;
    }
   
   .fondo2 {
    height: 90%;
    width: 100%;
    background-color: rgba(135, 35, 65, 0.7);
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
}


   
   
